@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-neutrals-white border-none outline-primary-60;
  }
  body {
    @apply bg-neutrals-90 text-neutrals-black;
  }
}

.h1B {
  font-weight: 700;
  font-size: 40px;
}
.h1S {
  font-weight: 600;
  font-size: 40px;
}

.h2B {
  font-weight: 700;
  font-size: 36px;
}
.h2B {
  font-weight: 600;
  font-size: 36px;
}
.h3B {
  font-weight: 700;
  font-size: 32px;
}
.h3S {
  font-weight: 600;
  font-size: 32px;
}

.h1B {
  font-weight: 700;
  font-size: 40px;
}

.sh1B {
  font-weight: 700;
  font-size: 28px;
}
.sh1s {
  font-weight: 600;
  font-size: 28px;
}

.sh2B {
  font-weight: 700;
  font-size: 24px;
}
.sh2s {
  font-weight: 600;
  font-size: 24px;
}

.sh3B {
  font-weight: 700;
  font-size: 20px;
}
.sh3s {
  font-weight: 600;
  font-size: 20px;
}

.bodyB {
  font-weight: 700;
  font-size: 16px;
}
.bodyS {
  font-weight: 600;
  font-size: 16px;
}
.bodyR {
  font-weight: 400;
  font-size: 16px;
}
