/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8;
  }
  .container-sm {
    @apply max-w-4xl w-full mx-auto px-4 sm:px-6 lg:px-8; /* Менша ширина */
  }
  /* H1 */
  .h1B {
    @apply font-bold text-[40px]; /* 700, 40px */
  }
  .h1S {
    @apply font-semibold text-[40px]; /* 600, 40px */
  }

  /* H2 */
  .h2B {
    @apply font-bold text-[36px]; /* 700, 36px */
  }
  .h2S {
    @apply font-semibold text-[36px]; /* 600, 36px */
  }

  /* H3 */
  .h3B {
    @apply font-bold text-[32px] max-[600px]:text-[28px]; /* 700, 32px, 28px на <600px */
  }
  .h3S {
    @apply font-semibold text-[32px]; /* 600, 32px */
  }

  /* SH1 */
  .sh1B {
    @apply font-bold text-[28px]; /* 700, 28px */
  }
  .sh1S {
    @apply font-semibold text-[28px]; /* 600, 28px */
  }

  /* SH2 */
  .sh2B {
    @apply font-bold text-[24px]; /* 700, 24px */
  }
  .sh2S {
    @apply font-semibold text-[24px]; /* 600, 24px */
  }

  /* SH3 */
  .sh3B {
    @apply font-bold text-[20px]; /* 700, 20px */
  }
  .sh3S {
    @apply font-semibold text-[20px]; /* 600, 20px */
  }

  /* Body */
  .bodyB {
    @apply font-bold text-[16px]; /* 700, 16px */
  }
  .bodyS {
    @apply font-semibold text-[16px]; /* 600, 16px */
  }
  .bodyR {
    @apply font-normal text-[16px]; /* 400, 16px */
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
image-gallery-container {
  position: relative;
  z-index: 1;
}

@media (max-width: 640px) {
  .image-gallery-container {
    margin-top: 40px;
  }
}
.swiper {
  padding-bottom: 40px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}
